div.row > div, header, nav, main {
    outline: 0px solid gray;
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;

    text-align: center;
} 


h1 {
    font-family: arial;
    font-size: 48px;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-family: arial;
    font-size: 16px;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* BUTTON DESIGN */
button {
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
    background-color: blue;
    width: 100px;
    text-align: center;
}

/* CORRECT / INCORRECT DISPLAY */
h3 {
    font-family: arial;
    font-size: 32px;
    color: blue;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center
}

/* WIN OR FAIL HEADLINE */
h4 {
    font-family: arial;
    font-size: 96px;
    color: white;
    padding-top: 50px;
    text-align: center;
}

/* WIN OR FAIL SUBTEXT */
h5 {
    font-family: arial;
    font-size: 32px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

p {
    text-align: center;
}

#timer {
    text-align: center;
    font-family: 'Black Ops One';
    font-size: 80px;
    margin-top: -60px;
    text-transform: uppercase; 
}

#Buttons {
    text-align: center;
}



/* 

h1El.setAttribute("style", "font-family: arial; font-size: 48px; color:blue; margin-top: 20px; margin-bottom: 20px; text-align: center;");
h2El.setAttribute("style", "font-family: arial; font-size: 24px; margin-top: 20px; margin-bottom: 20px; text-align:center;"); 
buttonEl.setAttribute("style", "text-align: center; color:white; background-color:blue; width: 100px;");
pTag.setAttribute("style", "text-align: center;");
correctText.setAttribute("style", "font-family: arial; font-size: 32px; color:blue; margin-top: 30px; margin-bottom: 20px; text-align: center;");
incorrectText.setAttribute("style", "font-family: arial; font-size: 32px; color:blue; margin-top: 30px; margin-bottom: 20px; text-align: center;");
*/

